.navigation{

  list-style: none;
  margin: 0;

  display: flex;
  flex-direction: row-reverse;

}

.navigation a{

  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;

}

.navigation a:hover{

  background: #CECEF6;

}
