.navigation{

  list-style: none;
  margin: 0;

  display: flex;
  flex-direction: row-reverse;

}

.navigation a{

  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;

}

.navigation a:hover{

  background: #CECEF6;

}

center a, center{
  color: white;
}

.title, .title a{
  background-color: #A4A4A4;
  margin: 0;
  height: 50px;
  padding-top: 0.1em;
}

.subtitle {
  margin: 0;
  padding: 0.3em;
}
