<!DOCTYPE html>
<html ng-app="EscolaWebApp3">
  <head>
    <meta charset="utf-8">
    <title> Cadastrar aluno </title>

    <link href="CSS/index.css" rel="stylesheet" type="text/css">

    <link href="CSS/menu.css" rel="stylesheet" type="text/css">

    <!-- AngularJS-->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" type="text/javascript"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-messages.js" type="text/javascript"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>

   <!-- Angular Material-->
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Aplicação Angular-->
    <script src="JS/app.js" type="text/javascript"></script>

  </head>
  <body>
    <div class="container">

      <header>

        <div class="title">

          <center> <h2> <a href="index.html">Cadastros</a> </h2> </center>

        </div>

        <h2>Cadastrar Aluno</h2>

        <nav>

          <ul class="navigation">

            <li><a href="campus.html">Campus</a></li>
            <li><a href="escola.html">Escola</a></li>
            <li><a href="aluno.html">Aluno</a></li>
            <li><a href="curso.html">Curso</a></li>
            <li><a href="turma.html">Turma</a></li>
            <li><a href="turno.html">Turno</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
            <li><a href="endereco.html">Endereço</a></li>


          </ul>

        </nav>

      </header>

      <main ng-controller="AlunoController">

        <form name="alunoForm">

            <!-- Nome -->

            <div class="form-group">
              <label for='nome'>Nome do aluno:</label>
              <input type='text' ng-model='aluno.nome' name='nome' class="form-control" required ng-minlength="10" ng-maxlength="45">

              <div ng-show="alunoForm.nome.$error.required && alunoForm.nome.$dirty" class="alert alert-danger">
                Por favor, insira o nome do aluno!
              </div>

              <div ng-show="alunoForm.nome.$error.minlength && alunoForm.nome.$dirty" class="alert alert-danger">
                Seu nome deve conter, no mínimo, 10 caracteres!
              </div>

              <div ng-show="alunoForm.nome.$error.maxlength && alunoForm.nome.$dirty" class="alert alert-danger">
                Seu nome deve conter, no máximo, 45 caracteres!
              </div>
            </div>

            <!-- Matrícula -->

            <div class="form-group">
              <label for='matricula'>Matricula:</label>
              <input type='text' ng-model='aluno.matricula' name='matricula' class="form-control" required ng-minlength="12" ng-maxlength="12">

              <div ng-show="alunoForm.matricula.$error.required && alunoForm.matricula.$dirty" class="alert alert-danger">
                Por favor, insira o número da sua matrícula!
              </div>

              <div ng-show="alunoForm.matricula.$error.minlength && alunoForm.matricula.$dirty" class="alert alert-danger">
                Sua matrícula deve ter, no mínimo, 12 números!
              </div>

              <div ng-show="alunoForm.matricula.$error.maxlength && alunoForm.matricula.$dirty" class="alert alert-danger">
                Sua matrícula deve ter, no máximo, 12 números!
              </div>
            </div>

            <!-- CPF -->

            <div class="form-group">
              <label for='cpf'>CPF:</label>
              <input type='text' ng-model='aluno.cpf' name='cpf' class="form-control" required ng-minlength="11" ng-maxlength="11">

              <div ng-show="alunoForm.cpf.$error.required && alunoForm.cpf.$dirty" class="alert alert-danger">
                Por favor, insira o número do seu CPF!
              </div>

              <div ng-show="alunoForm.cpf.$error.minlength && alunoForm.cpf.$dirty" class="alert alert-danger">
                Seu CPF deve ter, no mínimo, 11 números! (Sem pontos ou traços)
              </div>

              <div ng-show="alunoForm.cpf.$error.maxlength && alunoForm.cpf.$dirty" class="alert alert-danger">
                Seu CPF deve ter, no máximo, 11 números! (Sem pontos ou traços)
              </div>
            </div>

            <!-- Data de Nascimento -->

            <div class="form-group">
              <label for='nascimento'> Data de nascimento: </label>
              <input type='text' ng-model='aluno.nascimento' name='nascimento' placeholder="AAAA-MM-DD" class="form-control" required ng-minlength="10" ng-maxlength="10">

              <div ng-show="alunoForm.nascimento.$error.required && alunoForm.nascimento.$dirty" class="alert alert-danger">
                Por favor, insira sua data de nascimento!
              </div>

              <div ng-show="alunoForm.nascimento.$error.minlength && alunoForm.nascimento.$dirty" class="alert alert-danger">
                Sua data de nascimento deve seguir o seguinte formato: AAAA-MM-DD
              </div>

              <div ng-show="alunoForm.nascimento.$error.maxlength && alunoForm.nascimento.$dirty" class="alert alert-danger">
                Sua data de nascimento deve seguir o seguinte formato: AAAA-MM-DD
              </div>
            </div>

            <!-- ID Endereço -->

            <div class="form-group">
              <label for='nascimento'> Número de Idenficação do Endereço: </label>
              <input type='text' ng-model='aluno.fk_id_endereco' name='id_endereco' class="form-control" required ng-minlength="1" ng-maxlength="10">

              <div ng-show="alunoForm.fk_id_endereco.$error.required && alunoForm.fk_id_endereco.$dirty" class="alert alert-danger">
                Por favor, insira o número de idenficação do seu endereco!
              </div>

              <div ng-show="alunoForm.fk_id_endereco.$error.minlength && alunoForm.fk_id_endereco.$dirty" class="alert alert-danger">
                O número deve conter, no mínimo, um caractere!
              </div>

              <div ng-show="alunoForm.fk_id_endereco.$error.maxlength && alunoForm.fk_id_endereco.$dirty" class="alert alert-danger">
                O número deve conter, no mínimo, dez caracteres!
              </div>
            </div>

            <!-- ID Curso -->

            <div class="form-group">
              <label for='nascimento'> Número de Idenficação do Curso: </label>
              <input type='text' ng-model='aluno.fk_id_curso' name='id_curso' class="form-control" required ng-minlength="1" ng-maxlength="10">

              <div ng-show="alunoForm.fk_id_curso.$error.required && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
                Por favor, insira o número de idenficação do curso!
              </div>

              <div ng-show="alunoForm.fk_id_curso.$error.minlength && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
                O número deve conter, no mínimo, um caractere!
              </div>

              <div ng-show="alunoForm.fk_id_curso.$error.maxlength && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
                O número deve conter, no mínimo, dez caracteres!
              </div>
            </div>

            <!-- Botão -->
            <input type= 'reset' name='limpar' value= 'Limpar' class="btn btn-secondary btn-lg btn-block">
            <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block">Cadastrar</button>

        </form>

      </main>

    </div>
  </body>
</html>
