<form name="alunoForm">


    <!-- Nome -->

    <div class="form-group">
      <label for='nome'>Nome do aluno:</label>
      <input type='text' ng-model='aluno.nome' name='nome' class="form-control" required ng-minlength="10" ng-maxlength="45">

      <div ng-show="alunoForm.nome.$error.required && alunoForm.nome.$dirty" class="alert alert-danger">
        Por favor, insira o nome do aluno!
      </div>

      <div ng-show="alunoForm.nome.$error.minlength && alunoForm.nome.$dirty" class="alert alert-danger">
        Seu nome deve conter, no mínimo, 10 caracteres!
      </div>

      <div ng-show="alunoForm.nome.$error.maxlength && alunoForm.nome.$dirty" class="alert alert-danger">
        Seu nome deve conter, no máximo, 45 caracteres!
      </div>
    </div>

    <!-- Matrícula -->

    <div class="form-group">
      <label for='matricula'>Matricula:</label>
      <input type='text' ng-model='aluno.matricula' name='matricula' class="form-control" required ng-minlength="12" ng-maxlength="12">

      <div ng-show="alunoForm.matricula.$error.required && alunoForm.matricula.$dirty" class="alert alert-danger">
        Por favor, insira o número da sua matrícula!
      </div>

      <div ng-show="alunoForm.matricula.$error.minlength && alunoForm.matricula.$dirty" class="alert alert-danger">
        Sua matrícula deve ter, no mínimo, 12 números!
      </div>

      <div ng-show="alunoForm.matricula.$error.maxlength && alunoForm.matricula.$dirty" class="alert alert-danger">
        Sua matrícula deve ter, no máximo, 12 números!
      </div>
    </div>

    <!-- CPF -->

    <div class="form-group">
      <label for='cpf'>CPF:</label>
      <input type='text' ng-model='aluno.cpf' name='cpf' class="form-control" required ng-minlength="11" ng-maxlength="11">

      <div ng-show="alunoForm.cpf.$error.required && alunoForm.cpf.$dirty" class="alert alert-danger">
        Por favor, insira o número do seu CPF!
      </div>

      <div ng-show="alunoForm.cpf.$error.minlength && alunoForm.cpf.$dirty" class="alert alert-danger">
        Seu CPF deve ter, no mínimo, 11 números! (Sem pontos ou traços)
      </div>

      <div ng-show="alunoForm.cpf.$error.maxlength && alunoForm.cpf.$dirty" class="alert alert-danger">
        Seu CPF deve ter, no máximo, 11 números! (Sem pontos ou traços)
      </div>
    </div>

    <!-- Data de Nascimento -->

    <div class="form-group">
      <label for='nascimento'> Data de nascimento: </label>
      <input type='date' ng-model='aluno.nascimento' name='nascimento' placeholder="DD/MM/AAAA" class="form-control" required ng-minlength="10" ng-maxlength="10">

      <div ng-show="alunoForm.nascimento.$error.required && alunoForm.nascimento.$dirty" class="alert alert-danger">
        Por favor, insira sua data de nascimento!
      </div>

      <div ng-show="alunoForm.nascimento.$error.minlength && alunoForm.nascimento.$dirty" class="alert alert-danger">
        Sua data de nascimento deve seguir o seguinte formato: AAAA-MM-DD
      </div>

      <div ng-show="alunoForm.nascimento.$error.maxlength && alunoForm.nascimento.$dirty" class="alert alert-danger">
        Sua data de nascimento deve seguir o seguinte formato: AAAA-MM-DD
      </div>
    </div>

    <!-- ID Endereço -->

    <div class="form-group">
      <label for='nascimento'> Número de Idenficação do Endereço: </label>
      <input type='text' ng-model='aluno.fk_id_endereco' name='id_endereco' class="form-control" required ng-minlength="1">

      <div ng-show="alunoForm.fk_id_endereco.$error.required && alunoForm.fk_id_endereco.$dirty" class="alert alert-danger">
        Por favor, insira o número de idenficação do seu endereco!
      </div>

      <div ng-show="alunoForm.fk_id_endereco.$error.minlength && alunoForm.fk_id_endereco.$dirty" class="alert alert-danger">
        O número deve conter, no mínimo, um caractere!
      </div>
    </div>

    <!-- ID Curso -->

    <div class="form-group">
      <label for='nascimento'> Número de Idenficação do Curso: </label>
      <input type='text' ng-model='aluno.fk_id_curso' name='id_curso' class="form-control" required ng-minlength="1" ng-maxlength="10">

      <div ng-show="alunoForm.fk_id_curso.$error.required && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
        Por favor, insira o número de idenficação do curso!
      </div>

      <div ng-show="alunoForm.fk_id_curso.$error.minlength && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
        O número deve conter, no mínimo, um caractere!
      </div>

      <div ng-show="alunoForm.fk_id_curso.$error.maxlength && alunoForm.fk_id_curso.$dirty" class="alert alert-danger">
        O número deve conter, no mínimo, dez caracteres!
      </div>
    </div>

    <!-- Botões -->
    <button type='reset' name='limpar' class="btn btn-secondary btn-lg btn-block">Limpar</button>
    <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block">Cadastrar</button>

</form>
