<form name="cursoForm">

    <!-- Nome -->

    <div class="form-group">
      <label for='nome'>Nome:</label>
      <input type='text' ng-model='curso.nome' name='nome' class="form-control" required ng-minlength="5" ng-maxlength="45">

      <div ng-show="cursoForm.nome.$error.required && cursoForm.nome.$dirty" class="alert alert-danger">
        Por favor, insira o nome do seu curso!
      </div>

      <div ng-show="cursoForm.nome.$error.minlength && cursoForm.nome.$dirty" class="alert alert-danger">
        O nome do curso deve ter, no mínimo, 5 caracteres!
      </div>

      <div ng-show="cursoForm.nome.$error.maxlength && cursoForm.nome.$dirty" class="alert alert-danger">
        O nome do curso deve ter, no máximo, 45 caracteres!
      </div>
    </div>

    <!-- Turno -->

    <div class="form-group">
      <label for='turno'>Turno:</label>
      <input type='text' ng-model='curso.turno' name='turno' class="form-control" required ng-minlength="3" ng-maxlength="10">

      <div ng-show="cursoForm.turno.$error.required && cursoForm.turno.$dirty" class="alert alert-danger">
        Por favor, insira o seu turno!
      </div>

      <div ng-show="cursoForm.turno.$error.minlength && cursoForm.turno.$dirty" class="alert alert-danger">
        O turno deve conter, no mínimo, 3 caracteres!
      </div>

      <div ng-show="cursoForm.turno.$error.maxlength && cursoForm.turno.$dirty" class="alert alert-danger">
        O turno deve conter, no máximo, 10 caracteres!
      </div>
    </div>

    <!-- ID Turno -->

    <div class="form-group">
      <label for='turno'>Número de Identificação do Turno:</label>
      <input type='text' ng-model='curso.fk_id_turno' name='turno' class="form-control" required ng-minlength="1" ng-maxlength="10">

      <div ng-show="cursoForm.fk_id_turno.$error.required && cursoForm.fk_id_turno.$dirty" class="alert alert-danger">
        Por favor, insira o número de identificação do turno!
      </div>

      <div ng-show="cursoForm.fk_id_turno.$error.minlength && cursoForm.fk_id_turno.$dirty" class="alert alert-danger">
        O número deve conter, no mínimo, 1 caractere!
      </div>

      <div ng-show="cursoForm.fk_id_turno.$error.maxlength && cursoForm.fk_id_turno.$dirty" class="alert alert-danger">
        O número deve conter, no máximo, 10 caracteres!
      </div>
    </div>

    <!-- Botão -->
    <input type= 'reset' name='limpar' value= 'Limpar' class="btn btn-secondary btn-lg btn-block">
    <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block">Cadastrar</button>

</form>
