<form action="http://localhost:5000/disciplina" method='post' name="disciplinaForm">

    <!-- Nome -->

    <div class="form-group">
      <label for='nome'>Nome:</label>
      <input type='text' ng-model='disciplina.nome' name='nome' class="form-control" required ng-minlength="3" ng-maxlength="45">

      <div ng-show="disciplinaForm.nome.$error.required && disciplinaForm.nome.$dirty" class="alert alert-danger">
        Por favor, insira o nome da sua disciplina!
      </div>

      <div ng-show="disciplinaForm.nome.$error.minlength && disciplinaForm.nome.$dirty" class="alert alert-danger">
        O nome da disciplina deve conter, no mínimo, 3 caracteres!
      </div>

      <div ng-show="disciplinaForm.nome.$error.maxlength && disciplinaForm.nome.$dirty" class="alert alert-danger">
        O nome da disciplina deve conter, no máximo, 45 caracteres!
      </div>
    </div>

    <!-- ID Professor -->

    <div class="form-group">
      <label for='nome'>Número de Identificação do Professor:</label>
      <input type='text' ng-model='disciplina.fk_id_professor' name='nome' class="form-control" required ng-minlength="1" ng-maxlength="10">

      <div ng-show="disciplinaForm.fk_id_professor.$error.required && disciplinaForm.fk_id_professor.$dirty" class="alert alert-danger">
        Por favor, insira o número de identificação da disciplina!
      </div>

      <div ng-show="disciplinaForm.fk_id_professor.$error.minlength && disciplinaForm.fk_id_professor.$dirty" class="alert alert-danger">
        O número deve conter, no mínimo, 1 caractere!
      </div>

      <div ng-show="disciplinaForm.fk_id_professor.$error.maxlength && disciplinaForm.fk_id_professor.$dirty" class="alert alert-danger">
        O número deve conter, no máximo, 10 caracteres!
      </div>
    </div>

    <!-- Botão -->
    <input type= 'reset' name='limpar' value= 'Limpar' class="btn btn-secondary btn-lg btn-block">
    <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block">Cadastrar</button>

</form>
