<!DOCTYPE html>
<html ng-app="EscolaWebApp3">
  <head>
    <meta charset="utf-8">
    <title> Cadastrar endereço </title>

    <link href="CSS/index.css" rel="stylesheet" type="text/css">

    <link href="CSS/menu.css" rel="stylesheet" type="text/css">

    <!-- Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" type="text/javascript"></script>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Aplicação Angular-->
    <script src="JS/app.js" type="text/javascript"></script>

  </head>
  <body>

    <div class="container">

      <header>

        <div class="title">

          <center> <h2> <a href="index.html">Cadastros</a> </h2> </center>

        </div>

        <h2>Cadastrar Endereço</h2>
        <nav>

          <ul class="navigation">

            <li><a href="campus.html">Campus</a></li>
            <li><a href="escola.html">Escola</a></li>
            <li><a href="aluno.html">Aluno</a></li>
            <li><a href="curso.html">Curso</a></li>
            <li><a href="turma.html">Turma</a></li>
            <li><a href="turno.html">Turno</a></li>
            <li><a href="professor.html">Professor</a></li>
            <li><a href="disciplina.html">Disciplina</a></li>
            <li><a href="endereco.html">Endereço</a></li>


          </ul>

        </nav>

      </header>

      <main ng-controller="EnderecoController">

        <form action="http://localhost:5000/endereco" method='post' name="enderecoForm">

            <!-- Logradouro -->

            <div class="form-group">
              <label for='logradouro'>Logradouro:</label>
              <input type='text' ng-model='logradouro' name='logradouro' class="form-control" required ng-minlength="5" ng-maxlength="65">

              <div ng-show="enderecoForm.logradouro.$error.required && enderecoForm.logradouro.$dirty" class="alert alert-danger">
                Por favor, insira o seu lograoduro!
              </div>

              <div ng-show="enderecoForm.logradouro.$error.minlength && enderecoForm.logradouro.$dirty" class="alert alert-danger">
                O logradouro deve ter, no mínimo, 5 caracteres!
              </div>

              <div ng-show="enderecoForm.logradouro.$error.maxlength && enderecoForm.logradouro.$dirty" class="alert alert-danger">
                O logradouro deve ter, no máximo, 65 caracteres!
              </div>
            </div>

            <!-- Complemento -->

            <div class="form-group">
              <label for='complemento'>Complemento:</label>
              <input type='text' ng-model='complemento' name='complemento' class="form-control" required ng-minlength="2" ng-maxlength="45">

              <div ng-show="enderecoForm.complemento.$error.required && enderecoForm.complemento.$dirty" class="alert alert-danger">
                Por favor, insira o seu complemento!
              </div>

              <div ng-show="enderecoForm.complemento.$error.minlength && enderecoForm.complemento.$dirty" class="alert alert-danger">
                O complemento deve ter, no mínimo, 2 caracteres!
              </div>

              <div ng-show="enderecoForm.complemento.$error.maxlength && enderecoForm.complemento.$dirty" class="alert alert-danger">
                O complemento deve ter, no máximo, 45 caracteres!
              </div>
            </div>

            <!-- Bairro -->

            <div class="form-group">
              <label for='bairro'>Bairro:</label>
              <input type='text' ng-model='bairro' name='bairro' class="form-control" required ng-minlength="5" ng-maxlength="45">

              <div ng-show="enderecoForm.bairro.$error.required && enderecoForm.bairro.$dirty" class="alert alert-danger">
                Por favor, insira o nome do seu bairro!
              </div>

              <div ng-show="enderecoForm.bairro.$error.minlength && enderecoForm.bairro.$dirty" class="alert alert-danger">
                O bairro deve ter, no mínimo, 5 caracteres!
              </div>

              <div ng-show="enderecoForm.bairro.$error.maxlength && enderecoForm.bairro.$dirty" class="alert alert-danger">
                O bairro deve ter, no máximo, 45 caracteres!
              </div>
            </div>

            <!-- CEP -->

            <div class="form-group">
              <label for='cep'> CEP: </label>
              <input type='text' ng-model='cep' name='cep' class="form-control" required ng-minlength="8" ng-maxlength="8">

              <div ng-show="enderecoForm.cep.$error.required && enderecoForm.cep.$dirty" class="alert alert-danger">
                Por favor, insira o número do seu CEP!
              </div>

              <div ng-show="enderecoForm.cep.$error.minlength && enderecoForm.cep.$dirty" class="alert alert-danger">
                O CEP deve ter 8 caracteres sem pontos ou traços!
              </div>

              <div ng-show="enderecoForm.cep.$error.maxlength && enderecoForm.cep.$dirty" class="alert alert-danger">
                O CEP deve ter 8 caracteres sem pontos ou traços!
              </div>
            </div>

            <!-- Número -->

            <div class="form-group">
              <label for='numero'> Número: </label>
              <input type='text' ng-model='numero' name='numero' class="form-control" required ng-minlength="1" ng-maxlength="5">

              <div ng-show="enderecoForm.numero.$error.required && enderecoForm.numero.$dirty" class="alert alert-danger">
                Por favor, insira o número da sua residência!
              </div>

              <div ng-show="enderecoForm.numero.$error.minlength && enderecoForm.numero.$dirty" class="alert alert-danger">
                O número deve ter, no mínimo, 1 caractere!
              </div>

              <div ng-show="enderecoForm.numero.$error.maxlength && enderecoForm.numero.$dirty" class="alert alert-danger">
                O número deve ter, no máximo, 5 caracteres!
              </div>
            </div>

            <button type="submit" class="btn btn-secondary btn-lg btn-block">Cadastrar</button>

       </form>
    </main>


    </div>

  </body>
</html>
