<form name="professorForm">

    <!-- Nome -->

    <div class="form-group">
      <label for='nome'>Nome:</label>
      <input type='text' ng-model='professor.nome' name='nome' class="form-control" required ng-minlength="10" ng-maxlength="45">

      <div ng-show="professorForm.nome.$error.required && professorForm.nome.$dirty" class="alert alert-danger">
        Por favor, insira o nome do professor!
      </div>

      <div ng-show="professorForm.nome.$error.minlength && professorForm.nome.$dirty" class="alert alert-danger">
        O nome do professor deve ter, no mínimo, 10 caracteres!
      </div>

      <div ng-show="professorForm.nome.$error.maxlength && professorForm.nome.$dirty" class="alert alert-danger">
        O nome do professor deve ter, no máximo, 45 caracteres!
      </div>
    </div>

    <!-- Botões -->
    <button type='reset' ng-click="limparBusca()" name='limpar' class="btn btn-secondary btn-lg btn-block">Limpar</button>
    <button ng-click="listar()" class="btn btn-dark btn-lg btn-block">Listar</button>
</form>

<!-- Tabela de Professores -->
<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="professor in professores">
        <td scope="row">{{professor.id_professor}}</td>
        <td scope="row">{{professor.nome}}</td>
        <td scope="row">{{professor.fk_id_endereco}}</td>
      </tr>
    </tbody>
  </table>
</div>
