<form name="turmaForm">

    <!-- Nome -->

    <div class="form-group">
      <label for='nome'>Nome:</label>
      <input type='text' ng-model='turma.nome' name='nome' class="form-control" required ng-minlength="5" ng-maxlength="45">

      <div ng-show="turmaForm.nome.$error.required && turmaForm.nome.$dirty" class="alert alert-danger">
        Por favor, insira o nome da turma!
      </div>

      <div ng-show="turmaForm.nome.$error.minlength && turmaForm.nome.$dirty" class="alert alert-danger">
        O nome da turma deve ter, no mínimo, 5 caracteres!
      </div>

      <div ng-show="turmaForm.nome.$error.maxlength && turmaForm.nome.$dirty" class="alert alert-danger">
        O nome da turma deve ter, no máximo, 45 caracteres!
      </div>
    </div>

    <!-- ID Endereço -->

    <div class="form-group">
      <label for='nome'>Número de Identificação do Curso:</label>
      <input type='text' ng-model='turma.fk_id_curso' name='nome' class="form-control" required ng-minlength="1">

      <div ng-show="turmaForm.fk_id_endereco.$error.required && turmaForm.fk_id_endereco.$dirty" class="alert alert-danger">
        Por favor, insira o número de identificação do curso!
      </div>

      <div ng-show="turmaForm.fk_id_endereco.$error.minlength && turmaForm.fk_id_endereco.$dirty" class="alert alert-danger">
        O número deve ter, no mínimo, 1 caractere!
      </div>
    </div>

    <!-- Botão -->
    <input type= 'reset' name='limpar' value= 'Limpar' class="btn btn-secondary btn-lg btn-block">
    <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block">Cadastrar</button>

</form>
