<form name="turnoForm">

    <!-- Nome -->

    <div class="form-group">
      <label for='nome'>Nome:</label>
      <input type='text' ng-model='turno.nome' name='nome' class="form-control" required ng-minlength="3" ng-maxlength="10">

      <div ng-show="turnoForm.nome.$error.required && turnoForm.nome.$dirty" class="alert alert-danger">
        Por favor, insira o nome do seu turno!
      </div>

      <div ng-show="turnoForm.nome.$error.minlength && turnoForm.nome.$dirty" class="alert alert-danger">
        O turno deve ter, no mínimo, 3 caracteres!
      </div>

      <div ng-show="turnoForm.nome.$error.maxlength && turnoForm.nome.$dirty" class="alert alert-danger">
        O turno deve ter, no máximo, 10 caracteres!
      </div>
    </div>

    <!-- Botões -->
    <button type='reset' ng-click="limparBusca()" name='limpar' class="btn btn-secondary btn-lg btn-block">Limpar</button>
    <button ng-click="listar()" class="btn btn-dark btn-lg btn-block">Listar</button>
</form>

<!-- Tabela de Turmas -->
<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="turno in turnos">
        <td scope="row">{{turno.id_turno}}</td>
        <td scope="row">{{turno.nome}}</td>
      </tr>
    </tbody>
  </table>
</div>
